.wiki-section {
    width: 100%;
}

.content-title {
    margin-bottom: 20px;
    font-family: monospace;
    color: #600000;
}

.wiki-img-right {
    float: right;
    width: 250px;
    margin: 0 0 15px 20px;

    background: #f9f9f9;
    border: 1px solid #999;
    padding: 5px;
    font-size: 0.85rem;
    text-align: center;
}

.wiki-img-right img {
    width: 100%;
    display: block;
}

.wiki-img-right .caption {
    padding: 6px;
    color: #555;
    font-style: italic;
}

.wiki-img-left {
    float: left;
    width: 250px;
    margin: 0 20px 15px 0;

    background: #f9f9f9;
    border: 1px solid #999;
    padding: 5px;
    font-size: 0.85rem;
    text-align: center;
}

.wiki-img-left img {
    width: 100%;
    display: block;
}

.wiki-img-left .caption {
    padding: 6px;
    color: #555;
    font-style: italic;
}

.clear {
    clear: both;
}

.wiki-section p {
    margin-bottom: 1rem;
}

@media (max-width: 800px) {

.wiki-img-left {
    float: center;
    width: 250px;
    margin: 0 20px 15px 0;

    background: #f9f9f9;
    border: 1px solid #999;
    padding: 5px;
    font-size: 0.85rem;
    text-align: center;
}

.wiki-img-right {
    float: center;
    width: 250px;
    margin: 0 20px 15px 0;

    background: #f9f9f9;
    border: 1px solid #999;
    padding: 5px;
    font-size: 0.85rem;
    text-align: center;
}

.content-title {
    margin-bottom: 20px;
    text-align: center;
    font-family: monospace;
    color: #600000;
}
}
